body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px ;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 4%;
    
}
.half-width img{
    width: 80%;
}
.link-buttom{
     text-decoration: none;
     background-image: linear-gradient(orange, tomato);
     padding: 10px 50px;
     color: white;
     font-weight: 700;
     border-radius: 5px;
}
.top-banar{
    background-image: url(project/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(project/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}
.experience-area{
    background-size: 85px;
    background-image: url(project/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;  
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(211, 46, 46);
}
#web-dev-experirnce{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(238, 32, 18), rgb(212, 127, 127));
    border-image-slice: 1;
}
#junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(234, 238, 18), rgb(127, 209, 212));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}

